*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.logoS {
    height: 30px;
    width: 100%;
    background-color: #efefef;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.fMenu ul li a {
    color: black;
}
